.version.index /* version checker */
{
	color: #0000FB;
	background-color: #788519;
}

.html
{
	background: #000000 url("../images/g1uke.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 612px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

#ppu367
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 178px;
}

#pu367
{
	width: 0.01px;
}

#u367
{
	z-index: 14;
	width: 123px;
	margin-right: -10000px;
}

#u379
{
	z-index: 16;
	width: 114px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 490px;
}

#pu385
{
	width: 0.01px;
	padding-bottom: 26px;
	margin-left: 46px;
	margin-top: 102px;
}

#u385
{
	z-index: 2;
	width: 320px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
	border-width: 6px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	border-radius: 60px;
	-webkit-transform: matrix(0.9945,-0.1045,0.1045,0.9945,-16,18);
	-ms-transform: matrix(0.9945,-0.1045,0.1045,0.9945,-16,18);
	-o-transform: matrix(0.9945,-0.1045,0.1045,0.9945,-16,18);
	transform: matrix(0.9945,-0.1045,0.1045,0.9945,-16,18);
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 89px;
}

#u385 .clip_frame
{
	-webkit-border-radius: 54px 54px 54px 54px;
}

#u385_clip
{
	overflow: hidden;
	width: 320px;
	height: 320px;
}

#u385_img
{
	margin-right: -12px;
	margin-bottom: -2px;
}

#u387-4
{
	z-index: 4;
	width: 507px;
	min-height: 70px;
	line-height: 72px;
	font-size: 60px;
	color: #FFFFFF;
	font-family: euphoria-script, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0.9945,-0.1045,0.1045,0.9945,-2,27);
	-ms-transform: matrix(0.9945,-0.1045,0.1045,0.9945,-2,27);
	-o-transform: matrix(0.9945,-0.1045,0.1045,0.9945,-2,27);
	transform: matrix(0.9945,-0.1045,0.1045,0.9945,-2,27);
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
	left: 2px;
}

#u206
{
	z-index: 11;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 602px;
	left: 273px;
}

#u206:hover
{
	margin: 602px -10000px 0px 0px;
}

#u170
{
	z-index: 9;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 602px;
	left: 351px;
}

#u206:active,#u170:hover
{
	margin: 602px -10000px 0px 0px;
}

#u151
{
	z-index: 8;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 602px;
	left: 429px;
}

#u170:active,#u151:hover
{
	margin: 602px -10000px 0px 0px;
}

#u151:active
{
	margin: 602px -10000px 0px 0px;
}

#u218
{
	z-index: 12;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 602px;
	left: 507px;
}

#u151.MuseLinkActive,#u218:hover
{
	margin: 602px -10000px 0px 0px;
}

#u230
{
	z-index: 13;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 602px;
	left: 585px;
}

#u218:active,#u230:hover
{
	margin: 602px -10000px 0px 0px;
}

#u182
{
	z-index: 10;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 602px;
	left: 663px;
}

#u230:active,#u182:hover
{
	margin: 602px -10000px 0px 0px;
}

#u182:active
{
	margin: 602px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 20px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -602px;
}

