#u367,#u379
{
	position: relative;
}

#u206
{
	position: relative;
	background: transparent url("../images/skp-forma%201%20copy%202.png") no-repeat left top;
	background-size: contain;
}

#u206:hover
{
	background: transparent url("../images/skp-forma%201%20copy.png") no-repeat left top;
	background-size: contain;
}

#u206:active
{
	background: transparent url("../images/skp-forma%201%20copy%202.png") no-repeat left top;
	background-size: contain;
}

#u170
{
	position: relative;
	background: transparent url("../images/vk-forma%201%20copy%202.png") no-repeat left top;
	background-size: contain;
}

#u170:hover
{
	background: transparent url("../images/vk-forma%201%20copy.png") no-repeat left top;
	background-size: contain;
}

#u170:active
{
	background: transparent url("../images/vk-forma%201%20copy%202.png") no-repeat left top;
	background-size: contain;
}

#u151
{
	position: relative;
	background: transparent url("../images/facebook.png") no-repeat left top;
	background-size: contain;
}

#u151:hover
{
	background: transparent url("../images/facebook-forma%201%20copy.png") no-repeat left top;
	background-size: contain;
}

#u151:active
{
	background: transparent url("../images/facebook-forma%201%20copy%202.png") no-repeat left top;
	background-size: contain;
}

#u151.MuseLinkActive
{
	background: transparent url("../images/facebook-forma%201%20copy%202.png") no-repeat left top;
	background-size: contain;
}

#u218
{
	position: relative;
	background: transparent url("../images/twitter-forma%201%20copy%202.png") no-repeat left top;
	background-size: contain;
}

#u218:hover
{
	background: transparent url("../images/twitter-forma%201%20copy.png") no-repeat left top;
	background-size: contain;
}

#u218:active
{
	background: transparent url("../images/twitter-forma%201%20copy%202.png") no-repeat left top;
	background-size: contain;
}

#u230
{
	position: relative;
	background: transparent url("../images/google-plus-forma%201%20copy%202.png") no-repeat left top;
	background-size: contain;
}

#u230:hover
{
	background: transparent url("../images/google-plus-forma%201%20copy.png") no-repeat left top;
	background-size: contain;
}

#u230:active
{
	background: transparent url("../images/google-plus-forma%201%20copy%202.png") no-repeat left top;
	background-size: contain;
}

#u182
{
	position: relative;
	background: transparent url("../images/steam-forma%201%20copy%202.png") no-repeat left top;
	background-size: contain;
}

#u182:hover
{
	background: transparent url("../images/steam-forma%201%20copy.png") no-repeat left top;
	background-size: contain;
}

#u182:active
{
	background: transparent url("../images/steam-forma%201%20copy%202.png") no-repeat left top;
	background-size: contain;
}

