/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* exo-2-regular - latin_cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/exo-2-v9-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/exo-2-v9-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/exo-2-v9-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/exo-2-v9-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/exo-2-v9-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/exo-2-v9-latin_cyrillic-regular.svg#Exo2') format('svg'); /* Legacy iOS */
  }
  /* exo-2-600 - latin_cyrillic */
  @font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/exo-2-v9-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/exo-2-v9-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/exo-2-v9-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/exo-2-v9-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/exo-2-v9-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/exo-2-v9-latin_cyrillic-600.svg#Exo2') format('svg'); /* Legacy iOS */
  }
  /* exo-2-700 - latin_cyrillic */
  @font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/exo-2-v9-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/exo-2-v9-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/exo-2-v9-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/exo-2-v9-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/exo-2-v9-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/exo-2-v9-latin_cyrillic-700.svg#Exo2') format('svg'); /* Legacy iOS */
  }
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Exo 2';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #352D39;
    min-width: 1200px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/index-bg.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;

}


.wrapper{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 50px;
    min-width: 1120px;
}
.to-up {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #352D39;
    color: #b1ede8;
    cursor: pointer;
    border-radius: 2px;
    display: none;
}


/* Header Style Start */
.header{
    background-color: #352D39;
    opacity: .9;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    
}
.header__list{
    display: flex;
    flex-wrap: wrap;
}
.header__item{
    margin-right: 82px;
}
.header__item-soc{
    margin-right: 22px;
}
.header__soc-pic{
    width: 22px;
    height: 22px;
    fill:#b1ede8;
}
.header__item:last-child, .header__item-soc:last-child{
    margin-right: 0;
}
.header__link{
    font-size: 18px;
    line-height: 24px;
    color: #b1ede8;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
}
/* Header Style End */


/* intro Style Start */
.intro{
    
    background-size: cover;
    padding-top: 200px;
}

.intro__logo{
    display: flex;
    flex-wrap: wrap;
}
.intro__logo-pic{
    width: 200px;
}
.intro__title-text-svg {
    fill: #fffcf9;
  }
.intro__title-text{
    margin-top: 50px;
    margin-left: 50px;
}
.intro__title{
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    font-style: ;
    color: #fffcf9;
    text-shadow: 1px 1px 2px black, 0 0 1em black; /* Параметры тени */
}
.intro__title-s{
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    font-style: italic;
    color: #ffd644;
    text-shadow: 1px 1px 2px black, 0 0 1em black; /* Параметры тени */
}
.intro__title-j{
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 4px;
    color: #fffcf9;
    text-transform: uppercase;
}
/* intro Style End */


/* Content Style Start */
.content{
    margin-top: 123px;
}
.content__wrap{
    width: 1120px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 1px 1px 2px black, 0 0 1em black;
    position: relative;
    padding: 50px;
}
.content__title{
    font-weight: 900;
    font-size: 35px;
    line-height: 60px;
    text-transform: uppercase;

}
.content__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    padding: 0px 0 80px 0;
}
.content__card{
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.20);
    position: relative;
    margin-top: 30px;
}
.content__cards2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    padding: 0px 0 80px 0;
}
.content__card2{
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.20);
    position: relative;
    margin-top: 30px;
}
.t609__bgimg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    
}
.t609__content{
    border: 1px solid #e0e6ed;
    border-top: 0 !important;
    border-radius: 3px;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    padding: 30px 0;
}

.t609__textwrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;

}


.t-heading {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.23;
    
}
.t-heading a{
    color: #fff;
    text-decoration: none;
}
.t-heading a:hover{
    opacity: 0.9;
}
.t-align_center {
    text-align: center;
}
.t-btn {
    display: inline-block;
    color:#000000;border:1px solid #000000;border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;
    font-size: 14px;
    padding: 10px 30px;
    text-decoration: none;
}
.content__warning{
    padding: 30px 50px;
    margin: 0 -50px;
    background-color: #6d435a;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
}
.war-tel{
    color: #ffd644;
}

.content__reviews{
    padding: 50px 50px;
    margin: 0 -50px;
    background-color: #b1ede8;
    color: #000;
    text-transform: uppercase;
}

.vk777{
    margin: 0 auto;
    display: inline-block;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
}




/* стили основного контейнера слайдера */
.slider {
    padding: 50px 50px;
    margin: 0 -50px;
    position: relative;
    overflow: hidden;
    width: 1120px;
    background: linear-gradient(45deg, #b1ede8 10%, #b1ede8 90%);
  }

  /* стили для обёртки, в которой заключены слайды */
  .slider__wrapper {
    position: relative;
    overflow: hidden;
  }

  /* стили для контейнера слайдов */
  .slider__items {
    display: flex;
    transition: transform 0.6s ease;
  }

  /* стили для слайдов */
  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* стили для кнопок "вперед" и "назад" */
  .slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
  }

  .slider__control_show {
    display: flex;
  }

  .slider__control:hover,
  .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
  }

  .slider__control_prev {
    left: 0;
  }

  .slider__control_next {
    right: 0;
  }

  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  /* стили для индикаторов */
  .slider__indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  .slider__indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .slider__indicators li.active {
    background-color: #fff;
  }

  .slider__item_img img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
  }

/*  .slider__item_1 {
    background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  }

  .slider__item_2 {
    background: linear-gradient(to right, #dd1818, #333333);
  }

  .slider__item_3 {
    background: linear-gradient(to right, #093028, #237a57);
  }

  .slider__item_4 {
    background: linear-gradient(to right, #243B55, #141E30);
  } */

  .slider__item {
    height: 210px;
    overflow: hidden;
    position: relative;
  }

  .slider__item_inner {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 10px;
    overflow: hidden;
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .slider__item_img {
    flex: 0 0 80px;
    max-width: 80px;
  }

  .slider__item_testimonial {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;

  }

  

    .slider__item_inner {
      flex-direction: row;
    }

    .slider__item_testimonial {
      margin-left: 30px;
    }

    .slider__item_img {
      flex: 0 0 150px;
      max-width: 150px;
    }

    .slider__item_testimonial {
      text-align: left;
    }
  

  .slider__item_name {
    font-size: 20px;
    margin-bottom: 8px;
    color: #6d435a;
  }

  .slider__item_post {
    font-size: 18px;
    margin-bottom: 8px;
    color: #352d39;
  }

  .slider__item_text {
    font-size: 18px;
    color: #000000;
  }




/* Content Style End */


/* Footer Style Start */
.footer{
    background-color: #352d39;
    opacity: .7;
    padding: 50px 0;
    width: 1120px;
    margin: 0 auto;
    box-shadow: 1px 1px 2px black, 0 0 1em black;
    
    color: #fffcf9;
}
.footer__cards{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-column-gap: 30px;
    
}
.footer__card{
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    
    position: relative;
    color: #ffd644;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
}
/* Footer Style End */


