.version.index /* version checker */
{
	color: #000013;
	background-color: #F983E7;
}

.html
{
	background: #000000 url("../images/g1uke.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 426px;
	min-height: 183px;
	margin-left: auto;
	margin-right: auto;
	padding: 281px 267px 158px;
}

#u458
{
	z-index: 2;
	position: relative;
}

#u458_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 20px;
}

#page .verticalspacer
{
	clear: both;
}

