{{ define "main" }}

<div class="main__container">
	
	<article class="main__post">
		<h1 class="main__post_title">
			{{ .Title }}
		</h1>
		<div class="main__post_content single">
			<div class="main__post_content">
				{{ .Content }}
			</div>
		</div>
	</article>
	{{ if .Date }}
	<div class="main__post_info">
		<time datetime="{{ .Date.Format "2006-01-02" }}">
			{{ .Date.Format "2006-01-02" }}
		</time>
	</div>
	{{ end }}
</div>
{{ if .Params.comments }}
	<div class="main__comments">
		<div class="main__comments_spoilbut"><span title="Комментарии"><i class="g1con__bubble"></i></span></div>
		<div class="main__comments_spoil" id="comments">
			<!-- {{ template "_internal/disqus.html" . }} -->
			<script async src="https://comments.app/js/widget.js?3" data-comments-app-website="{{ .Site.Params.telegramcomments }}" data-limit="5" data-color="3B047C" data-colorful="1"></script>
		</div>
	</div>
	{{ end }}
{{ end }}