.footer {
	background-color: #00000009;
}
.footer__container {
	display: flex;
	min-height: 70px;
	align-items: center;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 2px;
	color: #A3A19E;
	justify-content: center;
}